@using Project.Gawad.Client.Extensions
@using Project.Gawad.Domain.Enums
@using Project.Gawad.Domain.Enums.Complaints
@using System.Linq
@model Project.Gawad.Domain.Objects.Complaint.ComplaintFormObject

@{
    ViewData["Title"] = "Complaints";
    ViewData["HeaderTitle"] = "Complaints Details";
}

<h1 class="mb-4"><i class="bi bi-exclamation-circle-fill"></i> Complaint Details</h1>

<div class="row g-4" style="overflow: scroll;">
    <div class="row">
        <div class="card card-success card-outline mb-3">
            <div class="card-header">
                <div class="card-title"><i class="bi bi-person-lines-fill"></i> &nbsp; Complaint Details</div>
            </div>
            <div class="card-body">
                <div class="row g3">
                    <div class="col-6">
                        <div class="col-12">
                            <label>Complaint ID</label> : @Model.Id
                        </div>
                        <div class="col-12">
                            <label>Type</label> : @Model.ComplaintType
                        </div>
                        <div class="col-12">
                            <label>Status</label> : @Model.Status
                        </div>
                        <div class="col-12">
                            <label>Details</label> : @Model.Details
                        </div>
                        <div class="col-12">
                            <label>Date Received</label> : @Model.DateReceived?.ToString("MMMM dd, yyyy hh:mm tt")
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="col-12">
                            <label>Blotter Received By</label> : @Model.BlotterReceivedBy
                        </div>
                        <div class="col-12">
                            <label>OR Number</label> : @Model.ORNumber
                        </div>
                        <div class="col-12">
                            <label>Total Fee</label> : @Model.TotalFee
                        </div>
                        <div class="col-12">
                            <label>Note</label> : @Model.Note
                        </div>
                        <div class="col-12">
                            <label>Recommendation</label> : @Model.Recommendation
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
