@model Project.Gawad.Domain.Objects.UserManagement.ChangePasswordObject

@{
    ViewData["Title"] = "Access Management";
    ViewData["HeaderTitle"] = "Change Password";
}

@section StyleSheets
{
    <link type="text/css" rel="stylesheet" href="~/select2/select2.min.css"/>
    <link type="text/css" rel="stylesheet" href="~/select2/select2-bootstrap4.min.css"/>
    <link type="text/css" rel="stylesheet" href="~/app/css/app.css"/>
}

@section Scripts
{
    <script src="~/bootstrap-datatables/jquery-3.7.1.js"></script>
    <script src="~/select2/select2.full.min.js"></script>

}

@section NavigationCrumbs
{
    @* <ol class="breadcrumb float-sm-end"> *@
    @*     <li class="breadcrumb-item"> *@
    @*         <a href="@Url.Action("Index", "UserManagement")">@ViewBag.Title</a> *@
    @*     </li> *@
    @*     <li class="breadcrumb-item active" aria-current="page"> *@
    @*         @ViewBag.HeaderTitle *@
    @*     </li> *@
    @* </ol> *@
}

<div class="row g-4" style="overflow: scroll;">
    @using (Html.BeginForm("ChangePassword",
                    "Accounts",
                    FormMethod.Post))
    {
        <div class="row">
            <div class="card card-success card-outline mb-3">
                <!--begin::Header-->
                <div class="card-header">
                    <div class="card-title"><i class="bi bi-file-person-fill"></i>User Details</div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body">
                    <!--begin::Row-->
                    <div class="row g3">
                        <div class="col-12">
                            @Html.LabelFor(model => model.CurrentPassword, new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.CurrentPassword, new { @class = "form-control", placeholder = "", type = "password" })
                            @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "form-text field-validation-error" })
                        </div>

                        <div class="col-12">
                            @Html.LabelFor(model => model.NewPassword, new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control", placeholder = "", type = "password" })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "form-text field-validation-error" })
                        </div>

                        <div class="col-12">
                            @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.ConfirmNewPassword, new { @class = "form-control", placeholder = "", type = "password" })
                            @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "form-text field-validation-error" })
                        </div>
                    </div>
                    <!--end::Row-->
                </div>
                <!--end::Body-->
                <!--begin::Footer-->
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-10">

                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-lg btn-danger" href="@Url.Action("Index", "Home")">Cancel</a>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-lg btn-success" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
                <!--end::Footer-->
            </div>
        </div>
    }
</div>